body {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Century Gothic", "CenturyGothic", "AppleGothic", sans-serif !important;
  font-size: 10pt;
}
* {
}

div.css-dip3t8 {
  background: #001b3a;
  /* background: #e0e0e093; */
}
